h1 {
  text-align: center;
  margin: 10% 0 0 0;
}

h2 {
  text-align: center;
  /* margin: 10% 0 0 0; */
}

.calc {
  display: block;
  margin: 2% 0% 0% 20%;
  padding: auto auto;
}

button {
  display: block;
  margin: auto auto;
  padding: 6% 12%;
  font-size: 4rem;
}
